# ------------------------------
# 1. Create project build directories
# ------------------------------
- name: Ensure build directories exist in project
  delegate_to: localhost
  file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "{{ build_dir }}"
    - "{{ local_download_dir }}"
    - "{{ local_extract_dir }}"
    - "{{ local_extract_dir }}/bin"
    - "{{ local_extract_dir }}/httpd"
    - "{{ local_extract_dir }}/httpd-tools"
    - "{{ local_extract_dir }}/firewalld"
    - "{{ local_extract_dir }}/dnsmasq"
    - "{{ local_extract_dir }}/git"
    - "{{ local_extract_dir }}/wget"
    - "{{ local_extract_dir }}/curl"
    - "{{ local_extract_dir }}/vim"
    - "{{ local_extract_dir }}/bind-utils"
    - "{{ local_extract_dir }}/telnet"
    - "{{ local_extract_dir }}/buildah"
    - "{{ local_extract_dir }}/openssl"
    - "{{ local_extract_dir }}/helm"
    - "{{ local_extract_dir }}/haproxy"
    - "{{ local_extract_dir }}/rsync"

# ------------------------------
# 2. Download Podman tarball
# ------------------------------
- name: Download Podman tarball on control node
  delegate_to: localhost
  get_url:
    url: "{{ podman_download_url }}"
    dest: "{{ local_download_dir }}/podman.tar.gz"
    mode: '0644'
  register: podman_download

# ------------------------------
# 3. Download Skopeo tarball
# ------------------------------
- name: Download Skopeo source tarball on control node
  delegate_to: localhost
  get_url:
    url: "{{ skopeo_download_url }}"
    dest: "{{ local_download_dir }}/skopeo.tar.gz"
    mode: '0644'
  register: skopeo_download

# ------------------------------
# 4. Download httpd tarball
# ------------------------------
- name: Download httpd tarball on control node
  delegate_to: localhost
  get_url:
    url: "{{ httpd_download_url }}"
    dest: "{{ local_download_dir }}/httpd.tar.gz"
    mode: '0644'
  register: httpd_download

# ------------------------------
# 5. Download httpd-tools RPM
# ------------------------------
# - name: Download httpd-tools RPM on control node
#   delegate_to: localhost
#   get_url:
#     url: "{{ httpd_tools_download_url }}"
#     dest: "{{ local_download_dir }}/httpd-tools.rpm"
#     mode: '0644'
#   register: httpd_tools_download

# ------------------------------
# 6. Download firewalld RPM
# ------------------------------
# - name: Download firewalld RPM on control node
#   delegate_to: localhost
#   get_url:
#     url: "{{ firewalld_download_url }}"
#     dest: "{{ local_download_dir }}/firewalld.rpm"
#     mode: '0644'
#   register: firewalld_download

# ------------------------------
# 7. Download dnsmasq RPM
# ------------------------------
# - name: Download dnsmasq RPM on control node
#   delegate_to: localhost
#   get_url:
#     url: "{{ dnsmasq_download_url }}"
#     dest: "{{ local_download_dir }}/dnsmasq.rpm"
#     mode: '0644'
#   register: dnsmasq_download

# ------------------------------
# 8. Download git source tarball
# ------------------------------
- name: Download git source tarball on control node
  delegate_to: localhost
  get_url:
    url: "{{ git_download_url }}"
    dest: "{{ local_download_dir }}/git.tar.gz"
    mode: '0644'
  register: git_download

# ------------------------------
# 9. Download wget source tarball
# ------------------------------
- name: Download wget source tarball on control node
  delegate_to: localhost
  get_url:
    url: "{{ wget_download_url }}"
    dest: "{{ local_download_dir }}/wget.tar.gz"
    mode: '0644'
  register: wget_download

# ------------------------------
# 10. Download curl source tarball
# ------------------------------
- name: Download curl source tarball on control node
  delegate_to: localhost
  get_url:
    url: "{{ curl_download_url }}"
    dest: "{{ local_download_dir }}/curl.tar.gz"
    mode: '0644'
  register: curl_download

# ------------------------------
# 11. Download vim source tarball
# ------------------------------
- name: Download vim source tarball on control node
  delegate_to: localhost
  get_url:
    url: "{{ vim_download_url }}"
    dest: "{{ local_download_dir }}/vim.tar.gz"
    mode: '0644'
  register: vim_download

# ------------------------------
# 12. Download bind-utils RPM
# ------------------------------
# - name: Download bind-utils RPM on control node
#   delegate_to: localhost
#   get_url:
#     url: "{{ bind_utils_download_url }}"
#     dest: "{{ local_download_dir }}/bind-utils.rpm"
#     mode: '0644'
#   register: bind_utils_download

# ------------------------------
# 13. Download telnet RPM
# ------------------------------
- name: Download telnet RPM on control node
  delegate_to: localhost
  get_url:
    url: "{{ telnet_download_url }}"
    dest: "{{ local_download_dir }}/telnet.rpm"
    mode: '0644'
  register: telnet_download

# ------------------------------
# 14. Download jq binary
# ------------------------------
- name: Download jq binary on control node
  delegate_to: localhost
  get_url:
    url: "{{ jq_download_url }}"
    dest: "{{ local_download_dir }}/jq"
    mode: '0755'
  register: jq_download

# ------------------------------
# 15. Download buildah source tarball
# ------------------------------
- name: Download buildah source tarball on control node
  delegate_to: localhost
  get_url:
    url: "{{ buildah_download_url }}"
    dest: "{{ local_download_dir }}/buildah.tar.gz"
    mode: '0644'
  register: buildah_download

# ------------------------------
# 16. Download openssl source tarball
# ------------------------------
- name: Download openssl source tarball on control node
  delegate_to: localhost
  get_url:
    url: "{{ openssl_download_url }}"
    dest: "{{ local_download_dir }}/openssl.tar.gz"
    mode: '0644'
  register: openssl_download

# ------------------------------
# 17. Download helm tarball
# ------------------------------
- name: Download helm tarball on control node
  delegate_to: localhost
  get_url:
    url: "{{ helm_download_url }}"
    dest: "{{ local_download_dir }}/helm.tar.gz"
    mode: '0644'
  register: helm_download

# ------------------------------
# 18. Download haproxy source tarball
# ------------------------------
- name: Download haproxy source tarball on control node
  delegate_to: localhost
  get_url:
    url: "{{ haproxy_download_url }}"
    dest: "{{ local_download_dir }}/haproxy.tar.gz"
    mode: '0644'
  register: haproxy_download

# ------------------------------
# 19. Download rsync source tarball
# ------------------------------
- name: Download rsync source tarball on control node
  delegate_to: localhost
  get_url:
    url: "{{ rsync_download_url }}"
    dest: "{{ local_download_dir }}/rsync.tar.gz"
    mode: '0644'
  register: rsync_download

# ==============================
# PHASE 2: Extract All Components
# ==============================

# ------------------------------
# 8a. Extract Podman tarball
# ------------------------------
- name: Extract Podman tarball to staging directory
  delegate_to: localhost
  shell: tar -xzf {{ local_download_dir }}/podman.tar.gz -C {{ local_extract_dir }}/bin

# ------------------------------
# 8b. Extract Skopeo source tarball
# ------------------------------
- name: Extract Skopeo source tarball to staging directory
  delegate_to: localhost
  shell: tar -xzf {{ local_download_dir }}/skopeo.tar.gz -C {{ local_extract_dir }}

# ------------------------------
# 8c. Extract httpd tarball
# ------------------------------
- name: Extract httpd tarball to staging directory
  delegate_to: localhost
  shell: tar -xzf {{ local_download_dir }}/httpd.tar.gz -C {{ local_extract_dir }}/httpd --strip-components=1

# ------------------------------
# 8d. Extract httpd-tools RPM
# ------------------------------
# - name: Extract httpd-tools RPM to staging directory
#   delegate_to: localhost
#   shell: |
#     cd {{ local_extract_dir }}/httpd-tools
#     rpm2cpio {{ local_download_dir }}/httpd-tools.rpm | cpio -idmv

# ------------------------------
# 8e. Extract firewalld RPM
# ------------------------------
# - name: Extract firewalld RPM to staging directory
#   delegate_to: localhost
#   shell: |
#     cd {{ local_extract_dir }}/firewalld
#     rpm2cpio {{ local_download_dir }}/firewalld.rpm | cpio -idmv

# ------------------------------
# 8f. Extract dnsmasq RPM
# ------------------------------
# - name: Extract dnsmasq RPM to staging directory
#   delegate_to: localhost
#   shell: |
#     cd {{ local_extract_dir }}/dnsmasq
#     rpm2cpio {{ local_download_dir }}/dnsmasq.rpm | cpio -idmv

# ------------------------------
# 8g. Extract git source tarball
# ------------------------------
- name: Extract git source tarball to staging directory
  delegate_to: localhost
  shell: tar -xzf {{ local_download_dir }}/git.tar.gz -C {{ local_extract_dir }}/git --strip-components=1

# ------------------------------
# 8h. Extract wget source tarball
# ------------------------------
- name: Extract wget source tarball to staging directory
  delegate_to: localhost
  shell: tar -xzf {{ local_download_dir }}/wget.tar.gz -C {{ local_extract_dir }}/wget --strip-components=1

# ------------------------------
# 8i. Extract curl source tarball
# ------------------------------
- name: Extract curl source tarball to staging directory
  delegate_to: localhost
  shell: tar -xzf {{ local_download_dir }}/curl.tar.gz -C {{ local_extract_dir }}/curl --strip-components=1

# ------------------------------
# 8j. Extract vim source tarball
# ------------------------------
- name: Extract vim source tarball to staging directory
  delegate_to: localhost
  shell: tar -xzf {{ local_download_dir }}/vim.tar.gz -C {{ local_extract_dir }}/vim --strip-components=1

# ------------------------------
# 8k. Extract bind-utils RPM
# ------------------------------
# - name: Extract bind-utils RPM to staging directory
#   delegate_to: localhost
#   shell: |
#     cd {{ local_extract_dir }}/bind-utils
#     rpm2cpio {{ local_download_dir }}/bind-utils.rpm | cpio -idmv

# ------------------------------
# 8l. Extract telnet RPM
# ------------------------------
- name: Extract telnet RPM to staging directory
  delegate_to: localhost
  shell: |
    cd {{ local_extract_dir }}/telnet
    rpm2cpio {{ local_download_dir }}/telnet.rpm | cpio -idmv

# ------------------------------
# 8m. Copy jq binary to bin directory
# ------------------------------
- name: Copy jq binary to bin directory
  delegate_to: localhost
  shell: cp {{ local_download_dir }}/jq {{ local_extract_dir }}/bin/jq

# ------------------------------
# 8n. Extract buildah source tarball
# ------------------------------
- name: Extract buildah source tarball to staging directory
  delegate_to: localhost
  shell: tar -xzf {{ local_download_dir }}/buildah.tar.gz -C {{ local_extract_dir }}/buildah --strip-components=1

# ------------------------------
# 8o. Extract openssl source tarball
# ------------------------------
- name: Extract openssl source tarball to staging directory
  delegate_to: localhost
  shell: tar -xzf {{ local_download_dir }}/openssl.tar.gz -C {{ local_extract_dir }}/openssl --strip-components=1

# ------------------------------
# 8p. Extract helm tarball
# ------------------------------
- name: Extract helm tarball to staging directory
  delegate_to: localhost
  shell: tar -xzf {{ local_download_dir }}/helm.tar.gz -C {{ local_extract_dir }}/bin --strip-components=1

# ------------------------------
# 8q. Extract haproxy source tarball
# ------------------------------
- name: Extract haproxy source tarball to staging directory
  delegate_to: localhost
  shell: tar -xzf {{ local_download_dir }}/haproxy.tar.gz -C {{ local_extract_dir }}/haproxy --strip-components=1

# ------------------------------
# 8r. Extract rsync source tarball
# ------------------------------
- name: Extract rsync source tarball to staging directory
  delegate_to: localhost
  shell: tar -xzf {{ local_download_dir }}/rsync.tar.gz -C {{ local_extract_dir }}/rsync --strip-components=1

# ==============================
# PHASE 3: Create Combined Tarball
# ==============================

# ------------------------------
# 9. Create combined tarball
# ------------------------------
- name: Create combined tarball with all components
  delegate_to: localhost
  archive:
    path: "{{ local_extract_dir }}/*"
    dest: "{{ local_combined_tar }}"
    format: gz
    mode: '0644'
  register: combined_tar

# ------------------------------
# 10. Display tarball information
# ------------------------------
- name: Get combined tarball stats
  delegate_to: localhost
  stat:
    path: "{{ local_combined_tar }}"
  register: tar_stats

- name: Display combined tarball information
  delegate_to: localhost
  debug:
    msg:
    - "Combined tarball created successfully"
    - "Location: {{ local_combined_tar }}"
    - "Size: {{ (tar_stats.stat.size / 1024 / 1024) | round(2) }} MB"
  run_once: true
